<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            padding: 0;margin:0;font-family: '微软雅黑';
        }
        h1,h2,h3,h4,h5,p,a{
            text-align: center;
        }
        .title{
            font-size:25px;
        }
    </style>
</head>
<body>
<h1 class="title">年度走心广告：总有人偷偷爱着你</h1>
<p>
    大概是冬天太冷了
    所以又有一支广告片来暖心窝子了
    但这次有点特殊
    我觉得它是先在人的心上划了一道
    后来又给你仔细缝好

    这是999感冒灵推出的感恩节短片
    广告片选取真人事件改编
    以一段网络问答为线
    串联5个反转故事

    反转前的文案非常直接
    无情地揭开了生活冷漠的一面

    每个人都自顾不暇
    没有人会在意你的感受

    每个人都小心翼翼地活着
    没有人在乎你的境遇

    行色匆匆的人群里
    你并不特别也不会有优待

    你的苦楚
    不过是别人眼里的笑话

    人心冷漠的世界里
    每个人都无处可逃

    即使已经听惯了毒鸡汤
    还是被这些话呕出一口血
    大概是因为事实如此无法反驳吧
    可是
    这个世界不会好了吗？

    故事总是有反转的

    拒绝卖杂志的大叔
    是为了阻止小偷的动作
    拍下醉酒女孩照片的男子
    是为了向民警告知具体情况
    拦路的交警
    帮忙盖上了有安全隐患的油箱盖

    关上的电梯门
    再次打开
    外表凶悍的车主其实嘴硬心软
    巧妙化解了冲突

    这个世界没有想象中的那么好
    但似乎……也没那么糟

    999感冒灵这次的广告主题是
    致生活中那些平凡的小温暖
    片子里展现的都是来自陌生人的善意
    网络上素昧平生的人
    会对一个有自杀倾向的姑娘温言软语
    “我的小可爱，我们爱你”
    他们都是这个世界上偷偷爱着你的人
    这些爱，让这个世界变得不那么坏

    诚然，这个世界并不那么好
    灰色的、黑色的、纵横交错
    但世界就是这样，有黑暗也会有光
    这支广告片把矛盾和真实都展现
    最后又亲自点亮了光
    让我在这个冬天觉得很暖
    正因为有了寒冷对比才更觉得暖
    亲爱的，陌生人
    你们觉得呢？

    你们曾被陌生人温暖过吗？
    留言区告诉我吧~
</p>
</body>
</html>